# Postgres connection string

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/chatterbox
DATABASE_USERNAME=chatterbox-app
DATABASE_PASSWORD=chatterbox-app

DEV_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/chatterbox 
DEV_BASE_USERNAME=chatterbox-app
DEV_DATABASE_PASSWORD=chatterbox-app
