# Postgres connection string (Neon pooler URL recommended for serverless)
DATABASE_URL=postgresql://neondb_owner:npg_eBLQG6iOYvn3@ep-plain-boat-aspx7g6t-pooler.c-4.eu-central-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require

# Better Auth
BETTER_AUTH_SECRET="5lpiVOpSG1nil2AyIazWoKGRnkYMmvmqUz2bTY/qHmY="
BETTER_AUTH_URL=https://dev.chatterboxapp.xyz/
